<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bookstore.android.com.bookstore">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".app.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activities.CartActivity"
            android:label="@string/cart_name"
            android:theme="@style/AppTheme.Theme" />
        <activity android:name=".activities.SellActivity" />
        <activity
            android:name=".activities.RateActivity"
            android:theme="@style/AppTheme.Theme" />
        <activity
            android:name=".activities.BillActivity"
            android:label="Bill Status"
            android:theme="@style/AppTheme.Theme" />
        <activity
            android:name=".activities.DetailsBillActivity"
            android:label="Bill Details"
            android:theme="@style/AppTheme.Theme" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SearchActivity"
            android:label="Search" />
        <activity android:name=".activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.OrderActivity"
            android:theme="@style/AppTheme.Theme" />
        <activity android:name=".activities.BoughtActivity"
            android:theme="@style/AppTheme.Theme"/>
    </application>

</manifest>